.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#c32298, #fdbe2d);
}

.wrapper {
  display: flex;
  width: 800px;
  background: #ffffff;
  border-radius: 10px;
}

.form {
  flex: 1;
  padding: 20px;
}

.image {
  flex: 1;
}

@media screen and (max-width: 500px) {
  .image {
    display: none;
  }
}